<footer>
  <div class="container">
    <dl>
      <dt>Company No:</dt>
      <dd>3675149</dd>
      <dt>Registered Charity No:</dt>
      <dd>1074638</dd>
    </dl>
    <p>
      Copyright 2009 - {{ values.buildDate | dateDisplay('year') }} - St Albans Good Neighbour Scheme, all rights reserved.</p>
  </div>
</footer>
