<footer>
  <div class="container">
  <p>
    We are a registered charity. Registered Charity No: 1074638. We are company limited by guarantee, Company No: 3675149
  </p>
  <p>
    Copyright 2009 - {{ values.buildDate | dateDisplay('year') }} - St Albans Good Neighbour Scheme, all rights reserved.
  </p>
  </div>
</footer>
